footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.footer-container {
    display: flex;
    column-gap: 70px;
    align-items: baseline;
}

.address-list {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    margin-top: 20px;
}

.address-link {
    font-style: normal;
    line-height: 1.71;
    color: var(--white-text-color);
}

.footer-mail,
.footer-phone {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.address-link,
.footer-link,
.footer-phone {
    transition: color var(--transition-dur-and-func);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.footer-mail:hover,
.footer-mail:focus {
    color: var(--accent-color);
}

.footer-phone:hover,
.footer-phone:focus {
    color: var(--accent-color);
}

.social-media-header,
.subscribe-form-title {
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.footer-social-media-tab .list {
    margin: 0;
    margin-top: 20px;
}

.footer-social-media-tab .icon {
    fill: #ffffff;
}

.footer-social-media-tab .link {
    fill: var(--white-text-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-media-tab .link:hover,
.footer-social-media-tab .link:focus {
    background-color: var(--accent-color);
}