.home-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.home-link .web {
    color: var(--accent-color);
}

.home-link .studio-up {
    color: var(--headers-color);
}

.home-link .studio-down {
    color: var(--white-text-color);
}